.container {
  padding-top: 15px;
  height: 500px;
  background-image: url("../public/coding.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pfp {
  align-self: center;
  border-radius: 50px;
}

.name {
  color: white;
  font-size: 64px;
}
