.navbar {
  display: flex;
  height: 120px;
  max-height: 120px;
  min-height: 120px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #121212;
  color: white;
  font-family: "JetBrainsMono";
  font-size: 1.5rem;
  position: sticky;
  z-index: 50;
  top: 0;
}

.nav__toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  display: none;
}

.navbar h1 {
  font-size: 50px;
  word-break: normal;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.navbar li {
  display: inline-block;
  padding: 0 20px;
}

.contact__button {
  cursor: pointer;
  padding: 10px 30px;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: #1c53a4;
  color: white;
}

@media screen and (max-width: 960px) {
  .navbar li {
    visibility: hidden;
  }
  .contact__button {
    visibility: hidden;
  }
}
